*.yaml
*.xml
*.json
*.log
*.log.*

debug/
target/
__pycache__/

.idea/
.pytest_cache
.DS_Store


data/
logs/

# Nix development environment
.mysql/
.direnv/
result
result-*

# Python local packages
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

.envrc
flake.lock

.github/
.venv/